* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #1a1a1a;
    color: white;
    text-align: center;
    padding: 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: left;
    border-bottom: 2px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    margin: 0 15px;
    font-weight: 1000;
}

.navbar a:hover {
    color: #ff6600;
}

.container {
    background: #222;
    padding: 30px;
    border-radius: 10px;
    max-width: 700px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 28px;
}

.header span {
    color: #ff6600;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 3px solid #ff6600;
    object-fit: cover;
}

.quote {
    font-style: italic;
    color: #bbb;
    margin: 15px 0;
}

.info {
    text-align: left;
    margin-bottom: 20px;
}

.info p {
    margin: 5px 0;
}

/* GANTI FOTO */
.upload-btn {
    display: block;
    margin: 10px auto;
    background: #ff6600;
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.upload-btn:hover {
    background: #e55e00;
}

/* STORY SECTION */
.story-section {
    margin-top: 40px;
    background: #333;
    padding: 20px;
    border-radius: 10px;
}

.story-section h2 {
    color: #ff6600;
    margin-bottom: 15px;
}

.story-list {
    text-align: left;
    max-width: 650px;
    margin: auto;
}

.story {
    background: #444;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

.story:hover {
    background: #555;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.delete-btn:hover {
    background: darkred;
}

.add-story {
    background: #ff6600;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    font-size: 16px;
}

.add-story:hover {
    background: #e55e00;
}

.story-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
}

input[type="file"] {
    display: none;
}
